* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #f8f9fa;
}
nav {
    background-color: #f8f9fa;
}

.nav {
    display: flex;
    background-color: #f8f9fa ;
    position: relative;
    font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 98%;
    
}

.logo {
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.button {
    color: white;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #007bff;
    border-color: #007bff;
    float: right;
    height: calc(1.5em + 1rem + 2px);
    margin: 0% 0% 1% 0%;
    
}

.button:hover {
    background-color: #006ce0;
}

.container {
    width: 100%;
}

header {
    position: relative;
    background-size: cover;
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg);
    background-color: black;
    /* opacity: .3; */
    height: 500px;
    width: 100%;
}

.overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .35;
}

.container {
    width: 100%;
    padding-right: 13px;
    padding-left: 13px;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: -15px;
    margin-left: -15px;
}

.text {
    position: relative;
    
}

  h1 {
    margin-top: 0;
    color: white;
    margin: 170px 300px 100px 300px;
    text-align: center;
    margin: auto;
    margin: 20% 15% 5% 15%;
}

.enter {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
	margin-bottom: 15px;
	float: left;
    display: flex;
    justify-content: center;
    
}

form {
    display: block;
    margin-top: 0em;
    width: 100%;
    margin: 0% 25% ;
}

.formrow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
   width: auto;
}

.inp {
    position: relative;
    width: auto;
}

.signup {
    position: relative;
    width: auto;
    margin-right: 15px;
	margin-bottom: 15px;
	float: right;
}


@media (min-width: 992px) {
.container {
    max-width :960px;}
}

.formint {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    border: solid white;
    margin: 3px;
}

.btn {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    border-radius: 0.3rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    height: calc(1.5em + 1rem + 2px);
    margin: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color:#006ce0 ;
}

.foot {
    position: relative;
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg);
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}


/* .white {
    background-color: white;
    height: 300px;
} */

.twot {
    color: rgb(255, 255, 255);
    padding-right: 15px;
    padding-left: 15px;
    margin: 1% 25% ;
}

/* h2 {
    color: white;
} */

.li {
    margin: auto;
}

.list {
    position: relative;
    padding-left: 0%;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}


.icon {
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.icons {
    display: flex;
    flex-direction: row;
    position: relative;

    
}

.face {
    position: relative;
    width: auto;
    padding-left: 0%;
    font-size: 1rem;
    font-weight: 400;

}

li {
    display: inline;
    margin: 0;
}

.about {
    margin: 0% 0% 0% 18%;
}

img {
    width: 60%;
    height: 80%;
}

.fabtwit {
    width: 30px;
    height: 10px;
}
 

.textline {
    width: auto;
}

.list-inline-item {
    width: 25px;
}





.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    flex: 0 0 300px;
    margin: 10px;
    text-align: center;
  } 
  .card img {
    max-width: 65%;
    border-radius: 200px;
    box-shadow: 2px 2px 6px 0px  rgba(0, 0, 0, 0.766);
  }
  .card .text1 {
    padding: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }
    h2{
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgb(40, 40, 40);
      text-align: center;
    }
    h3{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  